# General
fastapi==0.109.1
uvicorn==0.20.0
python-multipart==0.0.5
Pillow==9.4.0
fastapi-camelcase==1.0.5
Werkzeug==2.2.2
strawberry-graphql[fastapi]==0.151.2

# CLI
cmd2~=2.4

# Security
pyjwt==2.6.0

# Database
psycopg2-binary~=2.9
SQLAlchemy==1.4.46
alembic==1.9.1